<div class="container">
<form class="form-group d-flex justify-content-center mt-3"> 
<input type="text" class="form-control" [(ngModel)]='username' name='username'  placeholder="Input Search"> 
<button (click)='getReposito(username)'class="btn btn-sm btn-info">Search</button>
 </form>

 <div fxLayout.xs="column">
  <ng-container fxFlex *ngFor="let repository of repositories" >
    <div class="card mt-3" style="width: 60rem;">
      <div class="card-body text-center">
        <h5 class="card-title">{{repository.name}}</h5>
        <p class="card-text">{{repository.description}}</p>
        <a href="#" class="card-link">{{repository.created_at|date}}</a>
        <a href="#" class="card-link">{{repository.updated_at|dateCount}}</a>
      </div>
    </div>
  </ng-container>
 </div>
</div>




 
