/* ul{
    display:flex

}
ul li{
    list-style: none;
    padding: 2rem;
    justify-content: space-between;
}
ul img{
    width: 300px;

} */
input{
    max-width: 600px;
    width: 100%;
    align-items: center;
}
/* .content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

} */
a{
    text-decoration: none;
}


