<!-- <form class="form-group d-flex justify-content-center mt-3">
    <input type="text" class="form-control" [(ngModel)]='repo' name='repo'placeholder="Input Search">
</form>
<div class="">
    <p>hello Tito</p>
    <div *ngFor="let repo of repos">
     <ng-container>
     <div class="row">
       <div class="col-md-9">
         <h4><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>
         <p>{{repo.description}}</p>
       </div>
       <div class="col-md-3">
         <span class="label label-primary">{{repo.forks}} Forks</span>
       </div>
     </div>
   </ng-container>
     <hr />
   </div>
 </div> -->
 
