<!-- <div>
    <form action="">
        Search:
        <input type="text" [(ngModel)]='username' name='username' (keyup)='getUser()'>
    </form>
</div> -->
<div>
    <nav>
        <img src="../../../assets/icon" alt="">
        <ul>
            <li><a class="nav-item nav-link" routerLink="repository" routerLinkActive='active'>Home</a></li>
            <li><a class="nav-item nav-link" routerLink="/profile" routerLinkActive='active'>GitHub Profile</a></li>
            <li><a class="nav-item nav-link" routerLink="/about" routerLinkActive='active'>About</a></li>
            <!-- <li>Marketplace</li>
            <li>Explore</li> -->
        </ul>

    </nav>
</div>
